<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Examen</title>
    </style>
</head>
<body>

<form th:action="@{/guardar-examen}" method="post" th:object="${examen}">

    <input type="hidden" th:field="*{dificultad}" />
    <input type="hidden" th:field="*{lenguaje}" />
    <input type="hidden" th:field="*{tiempoInicio}" />

    <label>Consigna</label>
    <span th:text="${preguntas.consigna}"></span>
    <span th:text="${'A) ' + preguntas.opcionA}"></span>
    <span th:text="${'B) ' + preguntas.opcionB}"></span>
    <span th:text="${'C) ' + preguntas.opcionC}"></span>

    <input type="text" maxlength="1" th:text="${respuestas.respuestaUsuario}">

    <button type="submit">Enviar Examen</button>
</form>

</body>
</html>