<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Examen</title>
    </style>
</head>
<body>

<form th:action="@{/guardar-examen}" method="post" th:object="${examen}">


    <input type="hidden" th:field="*{dificultad}" />
    <input type="hidden" th:field="*{lenguaje}" />
    <input type="hidden" th:field="*{tiempoInicio}" />

    <label>Consigna</label>
    <div th:each="pregunta : ${preguntas}">
        <span th:text="${pregunta.consigna}"></span>
        <span th:text="${'A) ' + pregunta.opcionA}"></span>
        <span th:text="${'B) ' + pregunta.opcionB}"></span>
        <span th:text="${'C) ' + pregunta.opcionC}"></span>
    </div>
    <input type="text" maxlength="1">

    <button type="submit">Enviar Examen</button>
</form>

</body>
</html>